.home {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.middle {
  flex: 1;
  min-height: 0;
  display: grid;

  grid-template-columns: 0.1fr 0.9fr 0.45fr;

  gap: 10px;

  width: 100vw;

  align-items: stretch;

  background-color: #000;

  color: aliceblue;
}

.middle > * {
  background-color: #121212;

  min-height: 0;
  min-width: 0;

  border-radius: 12px;
}

.middle > *::-webkit-scrollbar {
  width: 10px;
}

.middle > *::-webkit-scrollbar-track {
  background: transparent;
}

.middle > *::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 999px;
}

.middle > *::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  overflow: scroll;
}

.playlist {
  overflow: scroll;
}

.separator {
  width: 85%;
  height: 5px;
  border-radius: 1000px;
  background-color: #1f1f1f;
  margin: 0 auto 20px auto;
}
