.playlist {
  background: linear-gradient(to bottom, #2a2a2a, #121212);
  padding: 2rem;
  color: white;

  overflow: scroll;
}

.playlist h1 {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  overflow: scroll;
}

.playlist h1 p {
  margin: 0;
  cursor: pointer;
}

.playlist h1 input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #1db954;
  color: white;
  font-weight: 800;
  outline: none;
  width: 100%;
}

.playlist > button {
  background: #282828;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 0.8rem 1rem;
  margin-right: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.playlist > button:hover {
  background: #1db954;
  transform: scale(1.05);
}

.playlist > div:last-child {
  margin-top: 2rem;
}

.playlist > div:last-child > div {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 0.4fr;
  align-items: center;
  gap: 1rem;

  padding: 0.9rem 1rem;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.playlist > div:last-child > div:hover {
  background: rgba(255, 255, 255, 0.08);
}

.playlist > div:last-child > div p:first-child {
  color: #b3b3b3;
}

.playlist > div:last-child > div p:nth-child(2) {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: scroll;
  font-weight: 500;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.playlist > div:last-child > div p:nth-child(2)::-webkit-scrollbar {
  display: none;
}

.playlist > div:last-child > div p:nth-child(3) {
  color: #b3b3b3;
  text-align: right;
}

.playlist > div:last-child > div button {
  background: transparent;
  border: none;
  color: #b3b3b3;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.playlist > div:last-child > div button:hover {
  color: #ff4d4d;
  transform: scale(1.1);
}

@media (min-width: 769px) {
  .playlist h1 {
    font-size: 3rem;
  }
  .playlist h1 input {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .playlist h1 {
    font-size: 1.5rem;
  }
  .playlist h1 input {
    font-size: 1.5rem;
  }

  .playlist > div:last-child > div {
    width: 95%;
    margin-left: -10%;
  }

  .playlist > div:last-child > div p:nth-child(2) {
    font-size: 0.6rem;
  }
}
